# This is Git's per-user configuration file.
[user]
	name = Alex Flores
	email = eflores@mdsol.com
[core]
	excludesfile = ~/.gitignore_global
[github]
	user = audibleblink
[init]
	templatedir = ~/.git_template
