"*":
  "exception-reporting":
    userId: "93e52cb5-dc76-0b00-f6a7-a8c879cb05a9"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontFamily: "Hack"
    showIndentGuide: true
    showInvisibles: true
  core:
    themes: [
      "one-light-ui"
      "one-dark-syntax"
    ]
  "one-dark-ui": {}
  "atom-beautify":
    _analyticsUserId: "5ae3a896-ce1a-46b6-be5e-e6a10dcb0fa7"
  autosave:
    enabled: true
  firepad: {}
  "linter-gjslint":
    gjslintExecutablePath: "/usr/local/bin/gjslint"
  jslint:
    validateOnSave: false
  livereload:
    exts: "slim, jade, haml, erb"
  "ruby-test":
    cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
    cucumberAllCommand: "bundle exec cucumber --color features"
    cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
    specFramework: "rspec"
    shell: "/usr/local/bin/zsh"
  whitespace:
    removeTrailingWhitespace: false
    ignoreWhitespaceOnlyLines: true
  tabs:
    usePreviewTabs: true
